In [31]:
## Lesser of two evens

def lesser_of_evens(x,y):
    if (x%2 ==0 and y%2 ==0):
        return min(x,y)
    elif (x%2 != 0 or y%2 !=0):
        return max(x,y)

In [34]:
lesser_of_evens(10,8)

8

In [4]:
lesser_of_evens(2,10)

2

In [26]:
## Write a function takes a two-word string and returns True if both words begin with same letter
## animal_crackers('Levelheaded Llama') --> True
## animal_crackers('Crazy Kangaroo') --> False

def fun_str(string):
    if len(string.split()) != 2:
        return print('ERROR: Input a 2 word string')
    else:
        my_list = string.lower().split()
        if my_list[0][0] == my_list[1][0]:
            return print('True')
        else:
            return print('False')

In [32]:
fun_str('Levelheaded Klama')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [35]:
def makes_twenty(x,y):
    if (x == 20 or y == 20):
        return 'True'
    elif ((x+y) == 20):
        return True
    else:
        return False

def makes_twnty_2(x,y):
    return (x == 20) or (y ==20) or (x+y == 20)

In [36]:
makes_twenty(12,20)

'True'

In [39]:
makes_twnty_2(12,8)

True

In [46]:
##Write a function that capitalizes the first and fourth letters of a name
## madhumitha

def cap_name(name):
    outstr = ''
    for i in range(0,len(name)):
        if (i == 0 or i == 3):
            outstr = outstr + name[i].upper()
        else:
            outstr = outstr + name[i]
    return outstr

def cap_name2(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [47]:
cap_name('macdonald')

'MacDonald'

In [48]:
cap_name2('macdonald')

'MacDonald'

In [157]:
##Given a sentence, return a sentence with the words reversed -- Approach 2

def str_reverse2(string):
    outstr = ''
    my_list = string.split()[::-1]
    outstr = ' '.join(my_list)
    return outstr

In [168]:
str_reverse2('My Name is John')

'John is Name My'

In [60]:
##Given an integer n, return True if n is within 10 of either 100 or 200

def my_int_range(x):
    if abs(x) in range(90,111) or abs(x) in range(190,211):
        return True
    else:
        return False
    

def my_int_2(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [61]:
my_int_range(210)

True

In [63]:
my_int_2(109)

True

In [200]:
list(range(11,20))[::-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11]

In [66]:
print(abs(100-102))

2

## Find a 33
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [70]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == nums[i+1]:
            return True
    return False
            

has_33([1,3,3])

True

In [71]:
def has_33_app2(nums):
    
    for i in range(0,len(nums)+1):
        if nums[i:i+2] == [3,3]:
            return True
        
    return False

In [73]:
has_33_app2([1,3,1])

False

In [74]:
nums = [1,3,2]

print(nums[0:2])

[1, 3]

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [109]:
def paper_doll(string):
    new_str = ''
    for i in range(0,len(string)):
        new_str =  new_str + string[i]*3
    return new_str

In [110]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [112]:
def paper_doll2(string):
    
    new_str = ''
    for char in string:
        new_str += char*3
        
    return new_str

In [113]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [122]:
def blackjack(x,y,z):
    
    if (x+y+z <= 21):
        return x+y+z
    elif (x+y+z > 21 and (11 in [x,y,z])):
        return ((x+y+z)-10)
    else:
        return 'BUST'

In [125]:
blackjack(5,6,7)

18

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [183]:
def sumof69(nums):
    out = 0
    
    if 6 not in nums:
        return sum(nums)
    elif nums == None:
        return 0
    else:
        for i in range(0,len(nums)):
            if nums[i] in (6,7,8,9):
                continue
            else:
                out += nums[i]
        return out
    
sumof69([])

0

def sumof69_app2(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total
                
                
sumof69_app2([2,1,6,9,11])

In [ ]:
sumof69_app2([2,1])

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [6]:
def spy_game(arr):
    
    code = [0,0,7,'x']
    
    for num in arr:
        if num == code[0]:
            code.pop(0)
    
    if code[0] == 'x':
        return True
    else:
        return False

In [11]:
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [46]:
def count_primes(num):
    
    if num < 2:
        return 0
    
    primes = [2]
    x = 3
    
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x +=2
            
    return(len(primes))

In [47]:
count_primes(100)

25

In [25]:
int(100/2)

50

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. 
For purposes of this exercise, it's ok if your dictionary stops at "E"

In [105]:
def print_big(word):
    word_pattern = ''
    word_pattern2 = ''
    
    patterns = {1:'  *  ',2:' * * ',3:'*****',4:'*   *',5:'**** ',6:'*   *',7:'*    ',8:'* ***',9:'***  ',10:'  '}
    
    alphabet = {'A':[1,2,3,4,4],'B':[3,4,3,6,3],'C':[3,7,7,7,3],'D':[3,4,4,4,3],'E':[3,7,5,7,3],'F':[3,7,9,7,7],'O':[1,2,4,2,1],'L':[7,7,7,7,3]}
    
    for letter in word:
        for pattern in alphabet[letter.upper()]:
            word_pattern = patterns[pattern]
            print(word_pattern)

In [106]:
print_big('doll')

*****
*   *
*   *
*   *
*****
  *
 * *
*   *
 * *
  *
*
*
*
*
*****
*
*
*
*
*****

In [84]:
my_dict = {1:['a,b,c],2:[d,e,f],3:[x,y,z]}

NameError: name 'a' is not defined

In [112]:
def word_graph(word):
    
    patterns = {1:'*   *    *****',2:'*   *    *    ',3:'*****    **** ',4:'*   *    *    '}
    
    alphabet = {'HE':[1,2,3,4,1]}
    
    for pattern in alphabet[word.upper()]:
        print(patterns[pattern])

In [113]:
word_graph('he')

*   *    *****
*   *    *
*****    ****
*   *    *
*   *    *****