In [1]:
## IF ELSE statements
## Syntax

#  if (condition):
#     <Executable code>
#  elif (condition):
#     <Executable Code>
#  else:
#     <Executable>

In [8]:
name = 'Madhumitha'

if name == 'Sita':
    print("Hi Sita!")
elif name == 'Madhumitha':
    print("Hi Gita")
else:
    print ("What is your name ?")

Hi Gita

In [9]:
## FOR LOOPS

##         my_iterable = [a,b,c]
##           for item_name in my_iterable:
##            print(item_name)


## Tuple unpacking

In [12]:
## Iterating through a list

for item in [1,2,3,4,5]:
    print (f'Item is {item}')

Item is 1
Item is 2
Item is 3
Item is 4
Item is 5

In [19]:
for name in 'Madhumitha':
    print ('My name is {}'.format(name))

My name is M
My name is a
My name is d
My name is h
My name is u
My name is m
My name is i
My name is t
My name is h
My name is a

In [20]:
for name in 'String':
    print ('String is %s'%name)

String is S
String is t
String is r
String is i
String is n
String is g

In [21]:
for tup in [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]:
    print(tup)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
(10, 11, 12)

In [22]:
for (a,b,c) in [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]:
    print(b)   ## This is call tuple unpacking

2
5
8
11

In [23]:
## For loops iterating through dictionaries

d = {'Key1':10,'Key2':20,'Key3':30,'Key4':50}

for dic in d:
    print(dic)

Key1
Key2
Key3
Key4

In [24]:
d = {'Key1':10,'Key2':20,'Key3':30,'Key4':50}

for dic in d.items():
    print(dic)

('Key1', 10)
('Key2', 20)
('Key3', 30)
('Key4', 50)

In [26]:
d = {'Key1':10,'Key2':20,'Key3':30,'Key4':50}

for (key,value) in d.items():
    print(value)

10
20
30
50

In [27]:
d = {'Key1':10,'Key2':20,'Key3':30,'Key4':50}

for value in d.values():
    print(value)

10
20
30
50

In [1]:
## WHile Loop

## while (some_condition):
##    print()
##  else:
##   print()

In [4]:
x = 0
while x <= 5:
    print (f'Current value of x is {x}')
    x += 1
else:
    print('X is greater than 5')

Current value of x is 0
Current value of x is 1
Current value of x is 2
Current value of x is 3
Current value of x is 4
Current value of x is 5
X is greater than 5

In [5]:
## break, continue and pass

## pass - does nothing
## break - breaks out of the closest enclising loop
## conitnue - goes to the top of the closest enclosing loop
x = [1,2,3]

for i in x:
    pass

print(x)

[1, 2, 3]

In [6]:
Name = 'Madhumitha'

for x in Name:
    if x == 'a':
        continue
    print(x)

M
d
h
u
m
i
t
h

In [7]:
Name = 'Madhumitha'

for x in Name:
    if x == 'u':
        break
    print(x)

M
a
d
h

In [8]:
## range operator for Iteration - generating lists and for loops
## enumerate
## Zip
## in operator
## Min/Max 
## Random (import shuffle and randint - gives a random integer)

In [10]:
for item in range(1,10):
    print(item)

1
2
3
4
5
6
7
8
9

In [12]:
Name = 'Madhumitha'

for item in enumerate(Name):
    print(f'Letters in the name are {item}')

Letters in the name are (0, 'M')
Letters in the name are (1, 'a')
Letters in the name are (2, 'd')
Letters in the name are (3, 'h')
Letters in the name are (4, 'u')
Letters in the name are (5, 'm')
Letters in the name are (6, 'i')
Letters in the name are (7, 't')
Letters in the name are (8, 'h')
Letters in the name are (9, 'a')

In [11]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
Name = 'Madhumitha'
list(enumerate(Name))

[(0, 'M'),
 (1, 'a'),
 (2, 'd'),
 (3, 'h'),
 (4, 'u'),
 (5, 'm'),
 (6, 'i'),
 (7, 't'),
 (8, 'h'),
 (9, 'a')]

In [15]:
Name = 'Madhumitha'
type(enumerate(Name))

enumerate

In [21]:
a = [1,2,3]
b = ['a','b','c']

c = zip(a,b)
list(c)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [22]:
'x' in ['a','b','c']

False

In [23]:
1 in (2,3,4,1)

True

In [24]:
'a' in 'Madhu'

True

In [26]:
'Key' in {'Key':'Value'}

True

In [27]:
d = {'Key2':'Name'}

In [29]:
'Name' in d.values()

True

In [30]:
max(1,2,3)

3

In [32]:
print(max(1,2,3),min(1,2,3,))

3 1

In [33]:
from random import shuffle

In [34]:
mylist = [1,2,3,4,5,6,7,8,9]

In [35]:
shuffle(mylist)

In [36]:
mylist

[1, 3, 5, 6, 4, 9, 8, 7, 2]

In [37]:
mytup = (1,2,3,4,5,6,7)

In [38]:
shuffle(mytup)

TypeError: 'tuple' object does not support item assignment